### 함수 2

#### asterisk (stars) *, **

In [3]:
def print_arg(*args):  #*를 쓰면 여러개를 선언 가능
    # 인자를 튜플로 묶어서 활용하는 역할
    print(args)
    
print_arg('hey', 'hello', 'hi')

('hey', 'hello', 'hi')

In [4]:
def print_arg(*args): 
    print(*args)   #여기서도 쓰먄 괄호 없이 출력됨 언패킹(튜플을 인자로)
    
print_arg('hey', 'hello', 'hi')

hey hello hi

In [6]:
def print_arg2(name, *args):
    print('obligatory', name)
    print(*args)
    
print_arg2('book', 1, 2, 3, 4)

obligatory book
1 2 3 4

### 외부에서 활용하기
- 컬렉션 자료형 언패킹 출력 시
- zip()
- 키워드 전용 인수 선언
    - 별 뒤에 오는 매개변수들은 반드시 키워드 인수로 들어오도록 설정하는 역할

In [7]:
nums = list(range(5))
print(*nums)

0 1 2 3 4

In [11]:
a = [
    [1, 2],
    [3, 4],
    [5, 6]
]

# 1, 3, 5랑 2, 4, 6 따로 출력하기 (열을 순회하고 싶다)

In [12]:
for row in a:
    print(row)

[1, 2]
[3, 4]
[5, 6]

In [13]:
for row in zip(*a):
    print(row)

(1, 3, 5)
(2, 4, 6)

In [14]:
def print_arg2(name, *args):
    print('obligatory', name)
    print(*args)
    
print_arg2('book', 1, 2, 3, 4)
nums = (1, 2, 3, 4)
x = print_arg2('book', nums)
y = print_arg2('book', *nums)

obligatory book
1 2 3 4
obligatory book
(1, 2, 3, 4)
obligatory book
1 2 3 4

In [18]:
def print_data(data, *, start, end):  #start, end -> start=0
    for value in data[start:end]:
        print(value)
        
print_data(nums, start=1, end=3)

2
3

In [20]:
def print_kargs(**kargs):
    print(kargs)
    print(kargs['wine'], 'is sweet')
    
print_kargs(wine='merlot', desser='cake')

{'wine': 'merlot', 'desser': 'cake'}
merlot is sweet

In [21]:
wine_list = 'merlot cabernet cianze'. split()
for wine in wine_list:
    print_kargs(wine=wine, dessert='scone')

{'wine': 'merlot', 'dessert': 'scone'}
merlot is sweet
{'wine': 'cabernet', 'dessert': 'scone'}
cabernet is sweet
{'wine': 'cianze', 'dessert': 'scone'}
cianze is sweet

In [22]:
def print_both(one, two, *args, **kargs):   #위치인수 > args > kargs
    print(one + two + sum(args))
    print(kargs)
    
print_both(1,2,3,4,5,first=1, second=2)

15
{'first': 1, 'second': 2}

### 딕셔너리 결합할 때 사용할 수 있다 (파이썬 3.5이상)

In [1]:
x = {1:'a',2:'b'}
y = {2:'c',3:'d'}
{**x,**y}
# '2'의 값이 중복됨 > 뒤에 나오는 키의 value값으로 대응됨

{1: 'a', 2: 'c', 3: 'd'}

In [2]:
# 2값을 뒤 x에서 가져옴
{**y,**x}

{2: 'b', 3: 'd', 1: 'a'}

### 일급객체
- first class object / first class citizen
- 함수도 객체다.
    - 객체는 인자로 전달 가능
    - 객체는 반환값이 될 수 있다.
    - 객체는 수정, 할당될 수 있다.

In [3]:
def answer():
    print(43)
def run_something(func): # 파이썬에서만 가능 => 함수가 객체의 성질을 갖기 때문
    func()
    
run_something(answer)

# 둘의 차이는 return과 함수 실행
def run_anything(func):
    return func

run_anything(answer)() # 괄호 > 함수 실행

43
43

In [4]:
# 괄호가 없는 경우
run_anything(answer)

In [5]:
def sum_args(*args):
    return sum(args)

def run_with_possitional_args(func, *args):
    return func(*args)

run_with_possitional_args(sum_args,1,2,3,4,5)

15

In [6]:
# kargs 사용
def print_kargs3(**kargs):
    print(kargs.get('wine')[0],'=',kargs.get('wine')[1])

def run_with_kargs(func,**kargs):
    return func(**kargs)
    
run_with_kargs(print_kargs3,wine=['merlot','15도'])

merlot = 15도

In [7]:
# 가변 인자일 때 => 초기화하지 않으면 변수 내용이 변할 수 있음
def func(num_list):
    # 변할 수 있음을 문서화 할 것, 혹은 다른 방법 찾아볼것
    # 다른 방법 > copy하거나 안에서 새로 만듬
    sum_num = sum(num_list)
    num_list.append(sum_num)
    
a = [1,3,5]
func(a)

In [9]:
a #a에 쌓임

[1, 3, 5, 9]

In [10]:
func(a)
a
# 초기화 되지 않고 계속 쌓임

[1, 3, 5, 9, 18]

In [11]:
import copy

def func2(num_list):
    new_num_list = copy.deepcopy(num_list)
    sum_num = sum(new_num_list)
    new_num_list.append(sum_num)
    return new_num_list
    
b = [1,3,5]
func2(b)

[1, 3, 5, 9]

In [13]:
b

[1, 3, 5]

### 익명함수(람다)
- lambda
- 함수인데 이름이 없음(def, return)
- 사용 이유: 단순한 함수를 사용할 때(한줄짜리)
- 단, 잦은 사용은 권장하지 않는다 > 직관적이지 않고 재활용이 불가능하기 때문
- 문법: lambda x: <x를 요리할 코드>

In [14]:
# 함수를 선언해서
def f(x):
    return x.lower()
print(f('OK'))

# 특정 이름에 람다를 선언해서
f2 = lambda x:x.lower()
print(f2('OK'))

# 이름 없이 사용 가능
(lambda x:x.lower())('OK')

ok
ok

'ok'

In [15]:
f3 = lambda x,y : x+y
f3(5,5)

10

In [16]:
10
# Quiz
# abc -> Abc!
# 방법 1 => 비효율적 방법
f4 = lambda x: x[0].upper() + x[1:] + '!'
f4('abc')

# 방법 2 
f5 = lambda x : x.capitalize() + '!'
f5('abc')

'Abc!'

In [18]:
# lambda 활용 -> map 함수 활용
list(map(lambda x: x + 10, [1, 2, 3]))

[11, 12, 13]