## Ch2-1. Variables 변수

- 자료형 변환하기
    - int, str, float, bool

In [13]:
a = 10
type(a)

int

In [15]:
# int => float
float(a)

10.0

In [16]:
# int => bool
bool(10)

True

In [17]:
# float => int  #정수로 변환시 소수점 이하 값 버림
int(10.9)

10

In [12]:
x = 4.6
y = 7.9

print(int(x + y)) #11.xx
print(int(x) + int(y))  #4+7

12
11

In [5]:
# str -> int
p = '88.3'   #나쁜 변수명
#int(p)   #에러 나옴. 문자열을 정수형으로 바꿀 수 없음?
float(p)  #실수형은 가능?

88.3

### 꿀팁 
print()

In [7]:
print('orange', 'apple', 'tomato')  #default : 띄어쓰기 저절로 되서 출력 됨
print("the next line")  #default : 줄바꾸기 저절로 됨

orange apple tomato
the next line

In [18]:
orange = 'orange'
apple = 'apple'
tomato = 'tomato'

#방법 1.
print(orange + apple + tomato) #연결 가능하지만 공백 사라짐
print(orange, apple, tomato, sep=' ', end='\n')
print(orange, apple, tomato, sep='_', end='\n\n')
print('EQL')

orangeappletomato
orange apple tomato
orange_apple_tomato

EQL

In [19]:
# 라인이 짧을 때 : 세미콜론(;) 사용해 줄 맞추기 
orange = 'orange' ; apple = 'apple' ; tomato = 'tomato'

In [20]:
num = 5 ; print(num)

## Ch02-2. input()함수
- console에서 사용자에게 값을 입력 받는 함수
- 입출력 관련된 함수
- 입력 받는 값의 타입은 문자열(str)
- 입력 받는 값을 변수에 담아서 사용한다.

In [ ]:
input("What's your name? ")

In [3]:
#1.
name = input("What'your name? ")

What'your name? Lee

In [4]:
name

'Lee'

In [5]:
#2.
print("What'your name? ")
name = input()

What'your name?
Wang

In [10]:
print(name)

Wang

input을 str이 아닌 다른 타입으로 사용하고 싶으면 형 변환 미리 해주기

In [8]:
age = input("How old are you?")

How old are you? 19

In [9]:
type(age)

str

In [11]:
age = int(input("How old are you?"))

How old are you? 20

In [13]:
print("당신이 태어난 해는", 2022 - age + 1, '입니다')  #연산 가능해짐

당신이 태어난 해는 2003 입니다

### printing : 문자열 포매팅

In [14]:
print(f'당신이 태어난 해는 {age}년입니다!')  #중괄호 안을 변수로 인식함, print(f'{<variable>})

당신이 태어난 해는 20년입니다!

### Quiz 1
택배 정보를 입력 받고 무게에 따른 값 산정하기

- 수취인 성명 :
- 수취인 주소 :
    - 배송비는 3000원
    - 물건 비용 : <계산된 값>원
    - 총 합계 : <계산된 값>원
    - 물건 비용은 무게 (g) * 5
- 입력 값 = 이름, 주소, 무게

In [5]:
name = input("수취인의 성명은 무엇입니까?")
adress = input("수취인의 주소는 무엇입니가?")
weight = int(input("물건의 무게는 얼마입니까? (g기준입니다)"))
total = weight * 5 + 3000

print(f'{name} 고객님이 지불하실 총 합계는 {total}원입니다.' )

수취인의 성명은 무엇입니까? 고해람
수취인의 주소는 무엇입니가? 경기도 고양시 일산동구
물건의 무게는 얼마입니까? (g기준입니다) 54

고해람 고객님이 지불하실 총 합계는 3270원입니다.

### Ch03.Numbers

### boolean
- True / False
- False인 값
- if문 (조건식)에서 많이 씀 : "만약 어떤 값이 True면, ..."

In [2]:
bool(0)

False

In [3]:
bool(None)

False

### integer
- 분수나 소수가 아닌 정수
- 음수는 '-' 기호를 붙인다 : i.e., -50
- default = 양수
- 숫자 앞에는 0을 쓰지 못한다 : i.e., 09 (x)
    - cf.0bxx (10진수가 아닌)
- 숫자 사이에 쉼표를 쓰면 오류 : 100,000 (x) -> 100_000
    => 숫자 사이의 언더바는 인식하지 않는다는 의미

In [5]:
a = 09    #0이 빨간색으로 오류남

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-5-4a84c0f7ac01>, line 1)

In [6]:
a = -50
b = 49
a + b

-1

### 연산자|operator
- +, -, /, *
- 피연산자|operand: 1,2, ..
- 수식|expression

In [7]:
x = 9
y = 4

# 연산 5가지
x + y
x - y
x * y
x / y
x ** y  #거듭제곱|erponential

6561

나눗셈 = 몫, 나머지

In [9]:
x / y  #몫, 나머지

2.25

In [11]:
x // y #몫만 나옴

2

In [12]:
x % y  #나머지만 나옴

1

In [13]:
divmod(x, y)  #(몫, 나머지) 튜플 형태로 반환됨

(2, 1)

In [15]:
# division by zero 항시 유의 !

In [17]:
1 + 9              + 10   #숫자 사이의 공백은 무시되어 연산됨

20

#### 복합 대입 연산자 | compound assignment operator 
- 자신의 값을 대입해 업데이트 함

In [20]:
x = 5
x - 3
print(x)   #x빼준 값을 대입하지 않아서 그대로 나온다

5

In [24]:
x = x - 3
print(x)

#step 1. x - 3 계산
#step 2. temp = x - 3 (임시변수에 담는다)
#step 3. x = temp

-7

In [25]:
x -= 3
print(x)  #2 - 3

-10

In [26]:
x += 3
x -+ 3
x *= 3
x /= 3

x += 1

### Quiz 1.
- 반지름을 입력 받아서 원의 면적 구하기
- 면적 = pi * r제곱

In [30]:
r = float(input('반지름은 얼마입니까?'))
space = 3.14 * r * r

print(f'원의 면적은 {space}입니다.')

반지름은 얼마입니까?3.47
원의 면적은 37.808426000000004입니다.

### Quiz 2.
- 숫자를 입력 받고 3의 배수인지 확인하기 (True, False 사용해보기)
- 숫자를 입력 받고 홀수인지 확인하기

In [33]:
num = int(input("숫자를 입력하세요 : "))
if num % 3 == 0:
    print("3의 배수입니다!")
else : 
    print("3의 배수가 아닙니다!")

숫자를 입력하세요 : 35
3의 배수가 아닙니다!

In [35]:
num = int(input("숫자를 입력하세요 :"))
if num % 2 == 0 and num == 0:
    print("짝수입니다!")
else : 
    print("홀수입니다!")

숫자를 입력하세요 :0
짝수입니다!

### 지수 표현  (다시 복습하기)
- 예: '1.0e4'
- e의 앞부분은 소수, 정수, 둘다 됨
- 뒷부분은 정수여야 함
- 뒷부분이 음수면 소수점 자릿수를 의미함
- e, E 둘다 사용 가능

In [38]:
1.0e4

10000.0

In [39]:
# 0.0004005 => 지수로 표현하기

In [45]:
4.005e-4  # e의 역할 무엇?

0.0004005

### IF 조건문

#### 코드 짜는 팁
- 주석 달기
    - '#' hash, sharp, ..
    - '#' 시작지점부터 라인 끝까지가 주석 처리됨. 라인이 바뀌면 코드로 인식함
    - """ """ : 긴 주석
    - 문자열 안에 있는 sharp는 부호로 인식한다.
    - 코드에 대한 설명은 최대한 하지 않는다. 코드만 봐도 의미 전달이 되어야 한다.
    - 주석을 다는 이유는 의도를 나타내거나, 오류가 있거나,...(의미 외의 전달사항)

- 라인 유지하기
    - 들여쓰기 (default : space 4개, 탭을 이용하기)
    - 논리 구조를 나타내기 때문에 굉장히 중요함 !
    - 한 라인에 80자 정도 (백슬래시 \로 라인을 끊어준다)

In [1]:
a = 3 # 주석입니다
"""
주석1
주석2
주석3
"""
print(a)

3

In [2]:
print('hey, there #')

hey, there #

### if
if <조건식>:
    <실행할 코드>

In [4]:
if 3 == 1:
    print("두 수는 같다")  #False라 아무것도 출력되지 X

In [5]:
if 3 != 1:
    print("두 수는 같지 않다")

두 수는 같지 않다

- if - else
if <조건식>:
    <실행할 코드>
else:
    <실행할 코드2>

In [6]:
if 3 != 1:
    print("두 수는 같지 않다")
else:
    print("두 수가 같다")

두 수는 같지 않다

- if-elif-else
if <조건식1>:
    <실행할 코드1>
elif <조건식2>:
    <실행할 코드2>
else :
    <실행할 코드3>

In [8]:
a = 4
if a < 3:
    print("3보다 작다")
elif a == 3:
    print("3이다")
else:
    print("3보다 크다")

3보다 크다

In [12]:
if a < 3:
    print("3보다 작다")
if a == 3:
    print("3이다")
if a > 4:
    print("3보다 크다")    #실행 시 아무것도 출력 X  #if로만 이뤄져 있어서 새로 판별

### 비교연산자
- x < y
- x > y
- x >= y
- x<= y
- x == y (값이)
- x != y
- x is y (값, 메모리주소)
- x is not y

### Quiz 4.
- 1. 시험 점수를 입력 받고, 80점 이상이면 True, 아니면 False로 반환하기
- 2. 시험 점수를 입력 받고, 95이상 A+, 90이상 A, 85이상 B+, 나머지 F로 출력하기

In [14]:
score = int(input("시험 점수를 입력하세요: "))

if score >= 80:
    print("True")
else:
    print("False")

시험 점수를 입력하세요: 86
True

In [1]:
score = int(input("시험 점수를 입력하세요: "))

if score >= 95:
    print("A+")
elif score >= 90:
    print("A")
elif score >= 85:
    print("B")
else:
    print("F")

시험 점수를 입력하세요:  65

F