### 딕셔너리 Dictionary
- 영어 사전과 비슷
- 단어, 키 : 뜻, 값
- 순서가 없어서 인덱싱 불가능함
- 키를 중복되지 않는 고유한 값 존재
- 수정/삭제/추가 가능
- type : dict
- 중괄호 {}사용함
- 값에 다양한 자료구조가 올 수 있음

In [1]:
# 빈 딕셔너리 선언하는 방법

empty_dict = dict()
empty_dict = {} # 이건 dict type
print(type(empty_dict))

# set과 헷갈리지 말자
empty_set = set() # 이렇게 해야 set
print(type(empty_set))

<class 'dict'>
<class 'set'>

In [2]:
a = {1, 2, 3} # set

b = {1: 'apple', 2: 'banana', 3: 'kiwi'} # dict

a, b

({1, 2, 3}, {1: 'apple', 2: 'banana', 3: 'kiwi'})

In [3]:
b = {'': '', '': '', '': ''}

# 이렇게 선언하는 경우 key값에 따옴표 안 해도 됨
b = dict(apple='a', banana='b', kiwi='c')
b

{'apple': 'a', 'banana': 'b', 'kiwi': 'c'}

In [4]:
# 딕셔너리 실습
# 출석부로 딕셔너리 만들기

# 이름, 학번, 학과
# james 202201 경제학과
# laura 202203 스페인어과
# louis 202202 컴공과

In [6]:
# 중복 안 되는 값을 key로 하기

attendance_list = {'202201': ['james', '경제학과'], '202202': ['louis', '컴공과'], '202203': ['laura', '스페인어과']}
attendance_list['202201'][0]

'james'

#### 형 변환
- key와 value가 쌍으로 존재할 때 가능함

In [7]:
ex1 = [[1,2], [2,3], [3,4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [8]:
# key가 똑같다면 마지막에 나오는 것을 기준으로 함

ex2 = [(1,2),(2,3),(1,3)]
dict(ex2)

{1: 3, 2: 3}

In [9]:
# 문자열은 두 자리 문자열까지만 가능

ex3 = ['ab', 'bc', 'cd'] 
dict(ex3)

{'a': 'b', 'b': 'c', 'c': 'd'}

#### 항목 조회와 변경

In [10]:
pythons = {
    'Chapman' : 'Graham',
    'Cleese' : 'John',
    'Idle' : 'Eric',
    'Jones' : 'Terry',
    'Palin' : 'Michael'
}

In [11]:
# 항목 조회(key로 value를 찾음)
# 없는 값이면 예외

pythons['Idle']

'Eric'

In [12]:
# 예외 없게 하는 방법

# 값이 있는지 확인하기
print('Hwa' in pythons)

# get() : key가 있으면 값을 반환, 없으면 None을 반환하는데 반환값 설정 가능
pythons.get('Lee', 0)

False

0

In [13]:
# 항목 변경

pythons['Idle'] = 'James' 
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael'}

#### 항목추가와 삭제

In [15]:
# 항목 추가

pythons['Hwa'] = 'Chloe'
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [16]:
# 여러 개를 추가하는 경우 update
# 만약 원래 있던 key라면 마지막 값 기준으로 update

others = {
    'Marx': 'Groucho',
    'Howard' : 'Noe'
}

pythons.update(others)
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Noe'}

In [17]:
# 항목 삭제

del pythons['Hwa']
pythons

# 값을 출력하고 삭제

pythons.pop('Marx')
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Howard': 'Noe'}

In [18]:
# key가 없으면 예외는 나지만, 예외시 출력 값을 지정할 수 있음

pythons.pop('Lee', 0)

0

In [19]:
# 전체 삭제

pythons.clear()
pythons = {}

pythons

{}

### 전체 조회
- keys()
- values()
- items()

In [20]:
pythons = {
    'Chapman' : 'Graham',
    'Cleese' : 'John',
    'Idle' : 'Eric',
    'Jones' : 'Terry',
    'Palin' : 'Michael',
    'Hwa' : 'Chloe'
}
pythons.keys() # key값 조회

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [21]:
pythons.values() # value값 조회

dict_values(['Graham', 'John', 'Eric', 'Terry', 'Michael', 'Chloe'])

In [22]:
pythons.items() # (키, 값) 튜플 형태로

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'Eric'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [23]:
list(pythons.keys())

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [24]:
# items 순회

for k, v in pythons.items(): 
    print(f'{k} = {v}')
    
print()

# 리스트 컴프리헨션으로도 가능

[(k, v) for (k,v) in pythons.items()]

Chapman = Graham
Cleese = John
Idle = Eric
Jones = Terry
Palin = Michael
Hwa = Chloe

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'Eric'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [25]:
# items()는 튜플 형태로 들어있기 때문에 인덱스로 접근 가능
# 0은 key값, 1은 value값

[k[1] for k in pythons.items()]

['Graham', 'John', 'Eric', 'Terry', 'Michael', 'Chloe']

In [26]:
[k for k in pythons] # 그냥 하면 키값만 나옴

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [27]:
### 딕셔너리 실습

# animal : num_leg 딕셔너리를 만드시오
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [28]:
animal_leg = dict([(k, v) for (k, v) in zip(animal, legs)])
animal_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [29]:
dictionary = {}
for i in range(len(animal)):
    dictionary[animal[i]] = legs[i]
    
dictionary

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

In [30]:
# pythons에서 성: 이름, 성 첫 글자만, 이름은 글자 개수로 이루어진 튜플
# (성, 이름) 리스트로 반환하기
# dict comprehension 쓰지 말기

In [31]:
[(k, v) for k, v in pythons.items()]
# 여기서 고쳐나가면 됨

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'Eric'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [32]:
[(key[0], len(value)) for (key, value) in pythons.items()]

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7), ('H', 5)]

In [33]:
[(k[0][0], len(k[1])) for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 4), ('J', 5), ('P', 7), ('H', 5)]

#### 복제
- 할당 : b = a *같은 주소 참조
- 얕은 복사: c = a.copy() *다른 객체 생성
- 깊은 복사: deepcopy
- 리스트와 동일

In [ ]:
a = {1:1, 2:2, 3:3}
b = a

a[1] = 45

# 할당의 문제점: b도 값이 변한다. (복사한 가변객체이기 때문에)
a, b

In [ ]:
# 다른 객체 생성 - 얕은 복사 

c = a.copy()
a[2] = 22
a, c

In [ ]:
# 얕은 복사의 문제점: 가변객체에 대해 또 참조가 됨

a = {1: [1,2,3], 2: [2,3,4]}
d = a.copy()
a[1][0] = 100
a, d

In [ ]:
# deepcopy

import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

### 비교
- 같다, 다르다 만 된다.

In [ ]:
a != b

### EX
-두 리스트로 하나의 딕셔너리 생성
-명왕성 = pluto 추가하기
-'성'으로 끝나지 않는 키 삭제하기(태양 지구 같은것들)
    - del dict1['태양'] 이런거 안된다고
- sorted 이용해서 값을 정렬하기 1) key 기준 2) value 기준

In [ ]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [ ]:
new_solar = {}

for i in range(len(solar_kor)):
    new_solar[solar_kor[i]] = solar_eng[i]
    
new_solar['명왕성'] = 'pluto'

new_solar = [planet for planet in new_solar.items() if planet[0][-1] == '성']

new_solar

In [ ]:
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
    
system['명왕성'] = 'pluto'

system = dict([(key, value)
               for key, value in system.items()
               if key.endswith('성')])

# key 기준
print(sorted(system.keys()))

# value 기준
print(sorted(system.values()))

### 딕셔너리 컴프리헨션
- 리스트 컴프리헨션 후에 dict()로 감싸는 것이 비효율적임

In [ ]:
letter = 'apple'

# a: 1, p: 2, ...
{ch: letter.count(ch) for ch in letter}

In [ ]:
# 단어의 모음 세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회, vowels 순회
print({w: word.count(w) for w in set(word) if w in vowels})
print({v: word.count(v) for v in set(vowels) if v in word})

In [ ]:
# 위의 태양계 실습을 딕셔너리 컴프리헨션으로!
# {key:value}

system = {key:value 
          for key, value in system.items() 
          if key.endswith('성')}

system

## sorting

In [ ]:
# 그냥 sorted는 key만

sorted(system)

In [ ]:
def fx(x):
    return x[0] # 0은 key, 1은 value

sorted(system.items(), key=fx)

In [ ]:
# lambda식
# 함수에서 이름 짓는 부분과 예약어를 빼고 익명으로 함수 구현

sorted(system.items(), key=lambda x: x[1])

## set
- "중복이 없다"
- 집합과 동일한 개념 => 교집합, 합집합, 차집합, ...
- 중복과 순서가 없는 bag과 같음, 인덱싱도 없다.

In [ ]:
# set 만들기

empty = set()
empty

In [ ]:
a = {1, 2, 3} # 값이 있으면 이렇게 해도 됨
a

In [ ]:
# a = set(1, 2, 3) => 오류
# 선언과 형 변환이 동일

b = set((1, 2, 3))
b

In [ ]:
# 추가
a.add(4)
print(a)

# 삭제
a.remove(4)
print(a)

In [ ]:
# 멤버십 연산자

drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'manhattan': {'rye', 'vermouth', 'bitters'},
    'screwdriver': {'orange juice', 'vodka'}
}

# 보드카가 포함된 술 출력하기
# 보드카는 있지만 크림이나 vermouth 없는 술 출력하기

In [ ]:
for k, v in drinks.items():
    if 'vodka' in v:
        print(k) # 보드카가 포함된 술
        
for k, v in drinks.items():
    if 'vodka' in v:
        if 'cream' not in v and 'vermouth' not in v:
            print(k) # 보드카는 있지만 cream, vermouth 없는 술

In [ ]:
for k, v in drinks.items():
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
        print(k)

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

# 교집합 | intersection
a.intersection(b)
a & b

# 합집합 | union
a.union(b)
a | b

# 차집합 | difference
a.difference(b)
a - b , b - a

In [ ]:
for k, v in drinks.items():
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
        print(k)
# set을 활용해서 바꾸기

In [ ]:
for k, v in drinks.items():
    d = {'cream', 'vermouth'}
    if 'vodka' in v and len(v.intersection(d)) == 0:
        print(k)
# 길이를 잴 필요는 없다

In [ ]:
for k, v in drinks.items():
    if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)

In [ ]:
# set comprehension

{s for s in range(5)}

In [ ]:
# frozenset : 가변 객체를 불변 객체로

set([1,2])
frozenset([1,2])